<nav class="navbar navbar-expand-lg navbar-dark sticky-top d-flex justify-content-between" style="background-color: #D7A1F9;">
  <div class="mx-5 px-5">
    <a class="navbar-brand" routerLink="">
      <img src="https://static.wixstatic.com/media/7e8210_fbc53a3edc0245ed8871597892e412d1~mv2.png/v1/fill/w_159,h_33,al_c,q_85,usm_0.66_1.00_0.01/7e8210_fbc53a3edc0245ed8871597892e412d1~mv2.webp" alt="">
    </a>
  </div>
  <div class="mx-5 px-5">
    <a class="nav-link active navbar-brand h1 mb-0 text-center" aria-current="page" href="#" style="color: #A020F0;">
      <h1>Forum</h1>
    </a>
  </div>
  <div class="mx-5 px-5">
    <button 
      class="btn btn-outline-light search-btn"  
      style="border-color: #A020F0;" 
      *ngIf="!isauth"
      routerLink="/auth" 
      routerLinkActive="active"
      >Login/Signup
    </button>
    <button 
    class="btn btn-outline-success search-btn"  
    style="border-color: #A020F0;" 
    *ngIf="isauth"
    routerLink="/profile" 
    routerLinkActive="active" 
    >Profile
  </button>
</div>
<!-- <div> -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
