<!-- <p>view-comment works!</p> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-xs-12 comment-bg comment-border my-2 px-3">
                <div class="row">
                    <h3>comment.question</h3>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>@comment.user</p>
                    </div>
                    <div class="col-md-4">
                        <p>Tag -> comment.tag</p>
                    </div>
                    <div class="col-md-4">
                        <p>comment.date</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 comment-bg-white comment-border my-2 px-3 py-2">
                <div class="row">
                    <h4>Answered By:</h4>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="row"></div>
                        <p>@comment.Jasroop - </p>
                    </div>
                    <div class="col-md-5">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero tempore adipisci aliquam delectus commodi earum itaque unde cupiditate voluptatum sequi illum necessitatibus possimus quod veritatis provident, dolorum repudiandae quis explicabo reprehenderit illo expedita aperiam corrupti. Odit, tenetur? Totam ratione, officiis qui distinctio dolorem, odio eaque nihil accusantium iure consequuntur in.</p>
                    </div>
                    <div class="col-md-3">
                        <span>upvote - 01 - downvote</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <p>@comment.Deepak - </p>
                    </div>
                    <div class="col-md-5">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis vel magnam voluptate? Sapiente, dolor! Laudantium commodi ullam nam consectetur esse dicta aperiam inventore, sit illum ducimus earum voluptas non assumenda fuga doloremque sed excepturi, nostrum quod neque reiciendis. Unde sequi provident omnis inventore numquam accusantium quasi minus? Eaque, ratione fuga!</p>
                    </div>
                    <div class="col-md-3">
                        <!-- <span class="glyphicon glyphicon-traingle-top" style="color: black;"></span> -->
                        <!-- <i class="bi bi-triangle"></i> -->
                        <p>comment.date</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
