<!-- <form class="user px-4 mt-2">
    <div class="form-group my-3">
        <label for="staticUser" class="sr-only my-0 py-0 h5">User:</label>
        <input type="text" readonly class="form-control-plaintext my-0 py-0" id="staticUser" value="Jasroop">
      </div>
    <div class="form-group my-3">
        <label for="question" class="h5">Your Question:</label>
        <textarea class="form-control custom-shadow" id="question" rows="3" placeholder="Enter Your Question Here"></textarea>
      </div>
    <div class="form-group my-3">
      <label for="questionTag" class="h5">Tags:</label>
      <input type="text" class="form-control custom-shadow" id="questionTag" placeholder="Provide Your Question a Tag">
    </div>
    <button type="submit" class="user-button h5 px-3 py-1">Submit</button>
</form> -->
