<div class="col-xs-12">
    <div class="row">
        <h3 class="indicator" (click)="onClick(comment)">{{comment.question}}</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- <p>@{{comment.user}}</p> -->
            <div class="row">
                <span>Posted By &rarr;
                    <span class="badge rounded-pill bg-secondary">@{{comment.user}}</span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <!-- <p>Tag &rarr; {{comment.tag}}</p> -->
            <div class="row">
                <span>Tag &rarr;
                    <span class="badge rounded-pill bg-secondary">{{comment.tag}} &times;</span>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <!-- <p>{{comment.date}}</p> -->
            <div class="row">
                <span>Posted On &rarr;
                    <span class="badge rounded-pill bg-secondary">{{comment.date}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
