<div class="about-box">
    <span class="uName">User Name</span>
    <span class="uName">{{userData.userName}}</span>
    <br>
    <span class="uName">Email</span>
    <span class="uName">{{userData.email}}</span>
    <br>
    <span class="uName">First Name</span>
    <span class="uName">{{userData.firstName}}</span>
    <br>
    <span class="uName">Last Name</span>
    <span class="uName">{{userData.lastName}}</span>
    <br>
    <span class="uName">Role</span>
    <span class="uName">{{userData.role}}</span>
</div>