<div class="container">
    <div class="profile-container">
        <div class="row">
            <div class="col-xs-12 form-ctl"><br>
                <div class="about-box">
                    <span class="uName">User Name</span>
                    <span class="uName">Deepak12</span>
                    <br>
                    <span class="uName">Email</span>
                    <span class="uName">deepak@gmail.com</span>
                    <br>
                    <span class="uName">First Name</span>
                    <span class="uName">Deepak</span>
                    <br>
                    <span class="uName">Last Name</span>
                    <span class="uName">Kumar</span>
                    <br>
                    <span class="uName">Role</span>
                    <span class="uName">SDE</span>
                </div>

                <div class="container img-panel">
                    <img src="https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png" alt="">

                </div>
                <form [formGroup]="profileForm" (ngSubmit)=onSubmit()>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <textarea 
                                    name="activity" 
                                    placeholder="What's on your mind..." 
                                    id="activity-panel" 
                                    cols="80" 
                                    rows="6"
                                ></textarea>
                            </div>
                        </div>
                    </div><br>
                
                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success" (click)="onSubmitActivity()">Share</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>